.background-loader { 
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 20px;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.loading {
  letter-spacing: 5px;
    
  span {
    display: inline-block;
    text-transform: uppercase;
    animation: 2.1s scaleInOut infinite;
  }

  @for $i from 1 through 7 {
    span:nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }  
  }
}

@keyframes scaleInOut {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }

  50% { 
    opacity: 1;
    transform: scale(1.3);
  }

  100% { 
    opacity: 0.2;
    transform: scale(1);
  }
}